::-webkit-scrollbar {
    width: 0.5em;
  
  }
  ::-webkit-scrollbar-track {
    background-color: #3f3f3f;
    border-radius: 10px;
    margin-block: .1 em;
  }
  ::-webkit-scrollbar-thumb {
    background:blueviolet;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:#7c7c7c;
  }
body{
    margin: 0;
    display: flex;
    color: white;
    font-family: 'Press Start 2P', cursive; 
    overflow-y: hidden;
}
main{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gameEnd{
    display:none;
    position: absolute;
    top:7%;
    left:5%;
    z-index: 11;
}
aside{
    overflow-y: scroll;
    padding: 10px;
    margin: 20px;
    margin-right: 0;
    line-height: 3;
    display: flex;
    flex-direction: column;
    background-color: rgb(0,0,0,0.8);
    box-shadow: black 20px 10px 50px ;
    font-size: 15px;
    width: 30%;
    height: 750px;
}
.title{
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 30px;
}
.vs{
    margin-top: 200px;
    font-size: 30px;
}
.playerName{
    margin-bottom: 15px;
    font-size: 30px;
}
.content{
    display: flex;
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;

}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.btn{
    border: none;
    color: white;
    font-size: 20px;
    font-family:'Press Start 2P', cursive;
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;
    padding: 20px;
    margin: 5px;
    width: 100%;
}
.btn:not(.IA):hover{
    background-color: green;
    cursor: pointer;
}
.IA{
    background-color: rgb(0,0,0,0.8);
}
img{
    background-color: rgb(126, 40, 207);
    box-shadow: black 20px 10px 50px ;
    /* -webkit-filter: blur(1px); */
    border-radius: 20px;
    margin-bottom: 40px;
}
.scores{
    color: yellow;
    margin: 30px;
    background-color: rgb(0,0,0,0.8);
    padding: 10px;
}
.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.round{
    color: yellow;
}
h3{
    color:blueviolet
}
.break{
   color: black; 
}