body{
    display: flex;
    color: white;
    font-family: 'Press Start 2P', cursive; 
}
main{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;
    font-size: 20px;
    width: 10%;
    
}
.title{
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;
    padding: 10px;
}
.content{
    display: flex;
    background-color: blueviolet;
    box-shadow: black 20px 10px 50px ;

}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}
.btn{
    color: white;
    font-size: 20px;
    font-family:'Press Start 2P', cursive;
    background-color: black;
    padding: 30px;
    margin: 5px;
    width: 100%;
}
.btn:not(.IA):hover{
    background-color: green;
    cursor: pointer;
}
.IA{
    background-color: black;
}
img{
    background-color: rgb(126, 40, 207);
    box-shadow: black 20px 10px 50px ;
    /* -webkit-filter: blur(1px); */
    border-radius: 20px;
    margin-bottom: 40px;
}
